.tablecolumn
{
	width: 30em;
}

.okcancelnav
{
	clear: both;
	padding-top: 6px;
}

#CreateiFolderDiv
{
	float: left;
	width: 37em;
	padding-left: 12px;
	margin-bottom: 24px;
}

#CreateiFolderDiv td
{
	vertical-align: top;
}

#NameLabel
{
	font-weight: bold;
}

#Name
{
	width: 100%;
}

#DescriptionLabel
{
	font-weight: bold;
}

#Description
{
	overflow: auto;
	width: 100%;
}
