.leftnav
{
	padding-left: 12px;
	float: left;
	width: 40em;
}

.detailnav
{
	float: left;
	padding-bottom: 8px;
	width: 100%;
}

.detailinfo th
{
	text-align:left;
	padding-right: 8px;
	font-size: .8em;
}

.detailinfo td
{
	width: 80%;
}

.detailinfo td #UserName, .detailinfo td #FirstName, .detailinfo td #LastName,
.detailinfo td #FullName, .detailinfo td #Password, .detailinfo td #RetypedPassword
{
	text-align: left;
	width: 100%;
	padding-left: 4px;
}

#CreateButton
{
	margin-top: 8px;
	margin-right: 4px;
}

#CancelButton
{
	margin-top: 8px;
}