#logout table.dialog
{
	position: absolute;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	top: 48%;
	left: 48%;

	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;

	padding: 0;
	border-collapse: collapse;
	empty-cells: show;

	color: #333333;
	background: #FFFFFF url(../images/header.png) top left repeat-x;
}

#logout td.field
{
	padding: 0px 8px 0px 8px;
}

#logout td.copyright
{
	color: #333333;
	font-size: 0.8em;
	padding: 4px 4px 4px 4px;
	border-top: 1px solid #003366;
	background-color: #E1E1E1;
}
