.leftnav
{
	padding-left: 12px;
	float: left;
	width: 100%;
}

#EnableReporting
{
	margin-left: 0;
}

.frequency
{
	float: left;
	margin-top: 12px;
	margin-bottom: 8px;
	padding-left: 4px;
	border: solid 1px #D4D0C8;
	height: 7em;
	width: 6em;
}

.frequency th
{
	text-align: left;
}

.when
{
	float: left;
	margin-top: 12px;
	margin-bottom: 8px;
	margin-left: 12px;
	padding-right: 12px;
	padding-left: 4px;
	padding-bottom: 6px;
	border: solid 1px #D4D0C8;
	text-align: left;
	height: 7em;
	width: 11em;
}

.whenlabel
{
	padding-left: 4px;
	padding-right: 4px;
}

.format
{
	float: left;
	margin-top: 12px;
	margin-bottom: 8px;
	margin-left: 12px;
	padding-left: 4px;
	padding-right: 12px;
	padding-bottom: 6px;
	border: solid 1px #D4D0C8;
	text-align: left;
	height: 7em;
}

.summary
{
	float: left;
	clear: left;
	padding-top: 4px;
	padding-left: 4px;
	margin-bottom: 8px;
	width: 90%;
}

#Time
{
	width: 100%;
}

.reportbuttons
{
	float: left;
	clear: left;
	padding-left: 4px;
	padding-bottom: 8px;
}
