.actionbuttons
{
	margin-top: .5em;
	margin-bottom: 1em;
}

.detailnav
{
	border-bottom: dotted 1px #999999;
	float: left;
	width: 100%;
	padding-bottom: 1em;
}

.detailinfo th
{
	text-align:left;
	padding-right: .8em;
	font-size: .8em;	
}

.detailinfo td
{
	text-align: left;
}

.leftnav
{
	padding-right: .8em;
	padding-left: 1em;
	float: left;
	width: 38em;
	border-right: 1px dotted #999999;
}

.content
{
	float: left;
}

.ifolderlistnav
{
	float: left;
}

.ifoldertabnav
{
	height: 1.5em;
	border-bottom: solid 1px Black;
}

ul#ifolderlisttab
{
	list-style-type: none;
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	padding-left: 6em;
}

ul#ifolderlisttab li
{
	float: left;
	background-color: White;
	border-left: solid 1px Black;
	border-right: solid 1px Black;
	border-top: solid 1px Black;
	color: Black;
	margin: .2em .2em 0 .2em;
	width: 5.5em;
	text-align: center;
}

ul#ifolderlisttab a
{
	display: block;
	color: Black;
	background-color: Transparent;
	padding: .2em .2em 0 .2em;
	text-decoration: none;
}

ul#ifolderlisttab a:hover
{
	background: #716F64;
	color: White;
}

div#all li.allifolders a:link, div#all li.allifolders a:visited,
div#owned li.ownedifolders a:link, div#owned li.ownedifolders a:visited,
div#shared li.sharedifolders a:link, div#shared li.sharedifolders a:visited
{
	color: Black;
	background-color: #EFEEE9;
	border-bottom: 1px solid #EFEEE9;
}

.ifolderlist
{
	clear: left;
	width: 100%;
}

.ifolderlistheader
{
	clear: left;
	border-bottom: solid 1px black;
	border-collapse: collapse;
	height: 1.5em;
	width: 100%;
}

.ifolderlistheader td
{
	color: black;
	font-size: 0.8em;
	background-color: #efeee9;
}

.ifolderlistheader .checkboxcolumn
{
	width: 2em;
}

.ifolderlistheader .typecolumn
{
	width: 3.6em;
}

.ifolderlistheader .namecolumn
{
	width: 22.3em;
}

.ifolderlistheader .ownercolumn
{
	width: 13.5em;
}

.ifolderlistheader .sizecolumn
{
}

.ifolderlistitem
{
	height: 1.5em;
}

.ifolderlistaltitem
{ 
	height: 1.5em;
	background-color: #efeee9;
}

.ifolderitem1
{
	width: 2em;
}

.ifolderitem2
{
	width: 3em;
}

.ifolderitem2 img
{
	padding-left: .2em;
}

.ifolderitem3
{
	width: 20em;
}

.ifolderitem4
{
	width: 12em;
}

.ifolderitem5
{
}

#DeleteiFolderButton
{
	float:left;
}

#DisableiFolderButton
{
	float: left;
	margin-left: .4em;
}

#EnableiFolderButton
{
	float: left;
	margin-left: .4em;
}

#CreateiFolderButton
{
	float: right;
}

