ul#navcontainer
{
//old	list-style-type: none;
//old	float: left;
	margin: 0;
	padding: 0; /* added */
	padding-left: 12px;
	padding-top: 4px;
//	position: absolute;  /* added */
//	bottom: -2px;  /* added */
	width: 45em;
//	font-weight: bold;
//	font-size: .95em;
//mine	padding-top: 4px;
//mine	padding-left: 6px;
//old	padding-top: 5.9em;
//old	padding-left: 25em;
}

ul#navcontainer li
{
//old	-moz-border-radius: 3px 3px 0 0;
//old	float: left;
//old	background-color:#fff;
//old	color: Black;
//old	margin: 2px 2px 0 2px;
//old	width: 5.5em;
//old	text-align: center;
	display: inline;
	list-style: none;
}

ul#navcontainer a, ul#navcontainer a.current
{
//	-moz-border-radius: 4px 4px 0 0;
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
//	font-family: tahoma, verdana, sans-serif;
//	font-size: 85%;
	color: #333333;
//old	background-color: Transparent;
	text-decoration: none;
//old	padding: 2px 2px 0 2px;
//old	border-bottom: 1px solid #999999;

}

ul#navcontainer a:hover
{
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
//old	background-color: #696969;
//old	color: White;
//old	padding: 2px 2px 0 2px;
}

body#users li.users a, body#ifolders li.ifolders a, body#server li.server a, body#system li.system a,
body#reports li.reports a
{
//old	color: Black;
//old	background-color: #ccc;
//old	border-bottom: 1px solid #99CCFF;
//old	padding: 2px 2px 0 2px;
//	border: 1px solid #666;
	border-bottom: none;
	background: #b1c4e9;
	padding-bottom: 6px;
	margin-top: 0;
}

ul#navcontainer a 
{
	background: #FFFAE1;
//	border: 1px solid #AAA;
	border-bottom: none;
}

.detailtop
{
	float: left;
	height: 1.5em;
	color: #000099;
	background-color: #b1c4e9;
	border-bottom: 1px solid #999999;
	width: 100%;
	margin-top: -2px;
//	border-top: 1px solid #666;
}
