.nav
{
	padding-left: 12px;
	padding-bottom: 4px;
	padding-right: 12px;
	float: left;
}


.ifoldertabnav
{
	height: 1.5em;
	border-bottom: solid 1px Black;
}

ul#ifolderlisttab
{
	list-style-type: none;
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	padding-left: 6em;
}
 
ul#ifolderlisttab li
{
	-moz-border-radius: 5px 5px 0 0;
	float: left;
	background-color: White;
	border-left: solid 1px Black;
	border-right: solid 1px Black;
	border-top: solid 1px Black;
	color: Black;
	margin: 2px 2px 0 2px;
	width: 5.5em;
	text-align: center;
}

ul#ifolderlisttab a
{
	-moz-border-radius: 5px 5px 0 0;
	display: block;
	color: Black;
	background-color: Transparent;
	padding: 3px 3px 0 3px;
	text-decoration: none;
}

ul#ifolderlisttab a:hover
{
	background: #716F64;
	color: White;
}

div#all li.allifolders a:link, div#all li.allifolders a:visited,
div#orphaned li.orphanedifolders a:link, div#orphaned li.orphanedifolders a:visited
{
	color: Black;
	background-color: #EFEEE9;
	border-bottom: 1px solid #EFEEE9;
}

ul#ifolderlisttab li.orphanedifolders
{
        width: auto;
}


.searchnav
{
	clear: both;
	padding-bottom: 8px;
}

.ifoldersnav
{
	width: 100%;
}

.ifolderlist
{
	clear: left;
	width: 100%;
}

.ifolderlistheader
{
	clear: left;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-collapse: collapse;
	height: 1.5em;
	width: 100%;
}

.ifolderlistheader td
{
	font-weight: bold;
	font-size: 0.8em;
	color: black;
	background-color: #efeee9;
}

.ifolderlistheader .checkboxcolumn
{
	width: 2em;
}

.ifolderlistheader .typecolumn
{
	width: 4em;
}

.ifolderlistheader .namecolumn
{
	padding-right: 6px;
	width: 18em;
}

.ifolderlistheader .ownercolumn
{
	padding-right: 6px;
	width: 16em;
}

.ifolderlistheader .memberscolumn
{
	width: 9em;
}

.ifolderlistheader .lastmodifiedcolumn
{
	width: 15em;
}

.ifolderlistheader .sizecolumn
{
}

.ifolderlistitem
{
	height: 1.5em;
}

.ifolderlistaltitem
{ 
	height: 1.5em;
	background-color: #efeee9;
}

.ifolderitem1
{
	width: 2em;
}

.ifolderitem2
{
	width: 3.3em;
}

.ifolderitem2 img
{
	padding-left: 4px;
}

.ifolderitem3
{
	padding-right: 6px;
	width: 16.1em;
}

.ifolderitem4
{
	padding-right: 6px;
	width: 14.3em;
}

.ifolderitem5
{
	width: 7.9em;
}

.ifolderitem6
{
	width: 13.5em;
}

.ifolderitem7
{
}

#DeleteButton
{
	float: left;
	margin-top: 6px;
}

#DisableButton
{
	float: left;
	margin-top: 6px;
	margin-left: 4px;
	width: 6em;
}

#EnableButton
{
	float: left;
	margin-top: 6px;
	margin-left: 4px;
	width: 6em;
}

#CreateButton
{
	float: right;
	margin-top: 6px;
}
