.leftnav
{
	padding-right: 8px;
	padding-left: 12px;
	float: left;
	width: 38em;
	border-right: 1px dotted #999999;
}

.detailnav
{
	border-bottom: dotted 1px #999999;
	float: left;
	padding-bottom: 8px;
	width: 100%;
}

.detailinfo
{
	width: 100%;
	table-layout: fixed;
}

.detailinfo th
{
	text-align:left;
	font-size: .8em;
	width: 10.5em;
}

.detailinfo td
{
	text-align: left;
	font-size: .8em;
}

.detailinfo td #Name
{
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 1em;
	text-align: left;
	padding-left: 4px;
	width: 100%;
}

.detailinfo td #Description
{
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 1em;
	text-align: left;
	padding-left: 4px;
	width: 100%;
}

.detailinfo td #SSLValue
{
	margin-left: -1px;
}

.detailinfo td #FullNameSetting
{
	padding-left: 0px;
}

.adminlistnav
{
	float: left;
}

.adminlist
{
	clear: left;
	width: 100%;
}

.adminlistheader
{
	clear: left;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-collapse: collapse;
	height: 1.5em;
	width: 100%;
}

.adminlistheader td
{
	font-weight: bold;
	font-size: 0.8em;
	color: black;
	background-color: #efeee9;
}

.adminlistheader .checkboxcolumn
{
	width: 2.5em;
}

.adminlistheader .typecolumn
{
	width: 4em;
}

.adminlistheader .usernamecolumn
{
	padding-right: 6px;
	width: 12em;
}

.adminlistheader .fullnamecolumn
{
}

.adminlistheader .grouplistcolumn
{
	padding-right: 6px;
	width: 12em;
}

.adminlistitem
{
	height: 1.5em;
}

.adminlistaltitem
{ 
	height: 1.5em;
	background-color: #efeee9;
}

.adminitem1
{
	width: 2.3em;
}

.adminitem2
{
	width: 2.5em;
	padding-left: .5em;
}

.adminitem3
{
	padding-right: 6px;
	width: 10em;
}

.adminitem4
{
	padding-right: 6px;
	width: 12.5em;
}

.adminitem5
{
	padding-right: 6px;
        width: 6em;
}

.adminitem6
{
        margin-right: 12px;
}

.deleteadminbutton
{
	float: left;
	margin-top: 6px;
	margin-bottom: 4px;
	width: 6em;
}

.addadminbutton
{
	float: right;
	margin-top: 6px;
	margin-bottom: 4px;
	width: 6.5em;
}

.addsecondbutton
{
	float: right;
	margin-top: 6px;
	margin-bottom: 4px;
	width: 9.5em;
}

#SaveButton
{
	float: right;
}

#CancelButton
{
	margin-left: 4px;
	float: right;
}

.admintabnav
{
        height: 1.5em;
        border-bottom: solid 1px Black;
}

ul#adminlisttab
{
        list-style-type: none;
        margin: 0;
        font-weight: bold;
        font-size: .75em;
        padding-left: 1em;
}
 
ul#adminlisttab li
{
        -moz-border-radius: 5px 5px 0 0;
        float: left;
        background-color: White;
        border-left: solid 1px Black;
        border-right: solid 1px Black;
        border-top: solid 1px Black;
        color: Black;
        margin: 2px 2px 0 2px;
        width: 8.5em;
        text-align: center;
}

ul#adminlisttab a
{
        -moz-border-radius: 5px 5px 0 0;
        display: block;
        color: Black;
        background-color: Transparent;
        padding: 3px 3px 0 3px;
        text-decoration: none;
}

ul#adminlisttab a:hover
{
        background: #716F64;
        color: White;
}
div#alladmins li.alladmins a:link, div#alladmins li.alladmins a:visited,
div#primaryadmins li.primaryadmins a:link, div#primaryadmins li.primaryadmins a:visited,
div#groupadmins li.groupadmins a:link, div#groupadmins li.groupadmins a:visited
{
        color: Black;
        background-color: #EFEEE9;
        border-bottom: 1px solid #EFEEE9;
}

