.leftnav
{
	padding-right: 8px;
	padding-left: 12px;
	float: left;
	width: 38em;
	border-right: 1px dotted #999999;
}

.detailnav
{
	border-bottom: dotted 1px #999999;
	float: left;
	padding-bottom: 8px;
	width: 100%;
}

.detailinfo
{
	width: 100%;
	table-layout: fixed;
}

.detailinfo th
{
	text-align:left;
	font-size: .8em;
	width: 10.5em;
}

.detailinfo td
{
	text-align: left;
	font-size: .8em;
}

.detailinfo td #Name
{
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 1em;
	text-align: left;
	padding-left: 4px;
	width: 100%;
}

.detailinfo td #Description
{
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 1em;
	text-align: left;
	padding-left: 4px;
	width: 100%;
}

.detailinfo td #SSLValue
{
	margin-left: -1px;
}

.detailinfo td #FullNameSetting
{
	padding-left: 4px;
}

.adminlistnav
{
	float: left;
}

.adminlist
{
	clear: left;
	width: 100%;
}

.adminlistheader
{
	clear: left;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	border-collapse: collapse;
	height: 1.5em;
	width: 100%;
}

.adminlistheader td
{
	font-weight: bold;
	font-size: 0.8em;
	color: black;
	background-color: #efeee9;
}

.adminlistheader .checkboxcolumn
{
	width: 2.5em;
}

.adminlistheader .typecolumn
{
	width: 4em;
}

.adminlistheader .usernamecolumn
{
	padding-right: 6px;
	width: 12em;
}

.adminlistheader .fullnamecolumn
{
}

.adminlistitem
{
	height: 1.5em;
}

.adminlistaltitem
{ 
	height: 1.5em;
	background-color: #efeee9;
}

.adminitem1
{
	width: 2.3em;
}

.adminitem2
{
	width: 3em;
	padding-left: .5em;
}

.adminitem3
{
	padding-right: 6px;
	width: 10.5em;
}

.adminitem4
{
}

.deleteadminbutton
{
	float: left;
	margin-top: 6px;
	margin-bottom: 4px;
	width: 6em;
}

.addadminbutton
{
	float: right;
	margin-top: 6px;
	margin-bottom: 4px;
	width: 6.5em;
}

#SaveButton
{
	float: right;
}

#CancelButton
{
	margin-left: 4px;
	float: right;
}
