.actionbuttons
{
	margin-top: 6px;
}

.detailnav
{
	border-bottom: dotted 1px #999999;
	float: left;
	width: 100%;
	padding-bottom: 12px;
}

.detailinfo th
{
	text-align:left;
	padding-right: 8px;
	font-size: .8em;	
}

.detailinfo td
{
	text-align: left;
	font-size: .8em;
}

.leftnav
{
	padding-right: 8px;
	padding-left: 12px;
	float: left;
	width: 38em;
}

.leftnavuserdetails 
{
	padding-right: 8px;
	margin-left: 12px;
	padding-left: 4px;
	float: left;
	width: 58em;
}


.rightnav
{
	float: left;
	border-left: dotted 1px #999999;
}

.ifolderlistnav
{
	float: left;
}

.ifoldertabnav
{
	height: 1.5em;
	border-bottom: solid 1px #999;
}

ul#ifolderlisttab
{
	list-style-type: none;
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	padding-left: 2em;
}

ul#ifolderlisttab li
{
	-moz-border-radius: 5px 5px 0 0;
	float: left;
	background-color: White;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-top: solid 1px #999;
	color: Black;
	margin: 2px 2px 0 2px;
	width: 12em;
	text-align: center;
}

ul#ifolderlisttab a
{
	-moz-border-radius: 5px 5px 0 0;
	display: block;
	color: Black;
	background-color: Transparent;
	padding: 3px 3px 0 3px;
	text-decoration: none;
}

ul#ifolderlisttab a:hover
{
	background: #716F64;
	color: White;
}

div#all li.allifolders a:link, div#all li.allifolders a:visited,
div#owned li.ownedifolders a:link, div#owned li.ownedifolders a:visited,
div#shared li.sharedifolders a:link, div#shared li.sharedifolders a:visited
{
	color: Black;
	background-color: #EFEEE9;
	border-bottom: 1px solid #EFEEE9;
}

.ifolderlist
{
	clear: left;
	width: 100%;
}

.ifolderlistheader
{
	clear: left;
	border-bottom: solid 1px #999;
	border-collapse: collapse;
	height: 1.5em;
	width: 100%;
}

.ifolderlistheader td
{
	color: black;
	font-size: 0.8em;
	background-color: #efeee9;
}

.ifolderlistheader .checkboxcolumn
{
	width: 2em;
}

.ifolderlistheader .typecolumn
{
	width: 3.6em;
}

.ifolderlistheader .namecolumn
{
	width: 22.3em;
}

.ifolderlistheader .namecolumnuserdetails
{
	width: 29.9em;
}

.ifolderlistheader .ownercolumn
{
	width: 14.5em;
}	

.ifolderlistheader .sizecolumn
{
}

.ifolderlistitem
{
	height: 1.5em;
}

.ifolderlistaltitem
{ 
	height: 1.5em;
	background-color: #efeee9;
}

.ifolderitem1
{
	width: 2em;
}

.ifolderitem2
{
	width: 3em;
}

.ifolderitem2 img
{
	padding-left: 2px;
}

.ifolderitem3
{
	width: 20em;
}

.ifolderitem4
{
	width: 12em;
}


.ifolderitem5
{
}


#DeleteiFolderButton
{
	float:left;
}

#DisableiFolderButton
{
	float: left;
	margin-left: 6px;
}

#EnableiFolderButton
{
	float: left;
	margin-left: 6px;
}

#CreateiFolderButton
{
	float: right;
}
