/* ifolder.css */

body, p, td, th, div, blockquote, dl, ul, ol
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

html, body, #container
{
	margin: 0;
	padding: 0;
}

body
{
	font-size: 0.9em;
	color: #000066;
	background: #FFFFFF url(../images/background.png) top left repeat-x;
}

#container
{
}

#header
{
	height: 80px;
	background: transparent url(../images/banner-full.png) top left no-repeat;
}

#nav
{
	position: absolute;
	top: 80px;
	left: 0;
	width: 14em;
}

#view
{
	margin: 0 8px 0 14em;
}

#context
{
	background-color: #99CCFF;
	margin: 8px 0 8px 0;
	padding: 4px 8px 4px 8px;
}

#context .list
{
}

#context .list .item
{

}

#context .list .sep
{

}

#context .list .action
{
	cursor: pointer;
	font-weight: bold;
}

#content
{
}

#controls
{
	float: right;
	color: #FFFFFF;
	padding: 8px;
	font-size: 0.8em;
	text-align: center;
}

#controls span.info
{
	color: #CCCCCC;
}

#controls span.action
{
	cursor: pointer;
}

#controls span.sep
{
	padding: 0 4px 0 4px;
}

#actions
{
	border: 1px solid #99CCFF;
	margin: 8px;
}

#actions ul
{
	list-style: none;
	margin: 0;
	padding: 0.5em;
}

#actions ul li
{
}

table.entries
{
	width: 100%;
	cursor: pointer;
	border-collapse: collapse;
	table-layout: fixed;
}

table.entries tr
{
}

table.entries td
{
	border-bottom: 1px solid #BBBBBB;
	border-left: 0;
	border-right: 0;
	padding: 0 4px 0 0;
	margin: 0;
	height: 26px;
	empty-cells: show;
	white-space: nowrap;
	overflow: hidden;
}

table.entries col.cb
{
	width: 24px;
	text-align: right;
}

table.entries col.icon
{
	width: 28px;
}

table.entries td.ifolder
{
	background: transparent url(../images/22/ifolder.png) 0px 2px no-repeat;
}

table.entries td.folder
{
	background: transparent url(../images/22/folder.png) 0px 2px no-repeat;
}

table.entries td.file
{
	background: transparent url(../images/22/x-office-document.png) 0px 2px no-repeat;
}

table.entries col.name
{
}

table.entries col.owner
{
	width: 10em;
}

table.entries col.size
{
	width: 10em;
}

table.entries col.date
{
	width: 10em;
}

table.entries td.details
{
	background: transparent url(../images/22/details.png) 0px 2px no-repeat;
	width: 28px;
}
