/* ifolder.css */

body, p, td, th, div, blockquote, dl, ul, ol
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

html, body, #wrapper
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body
{
	font-size: 0.9em;
	color: #666666;
	background-color: #FFFFFF;
}

img
{
	border: 0;
}

a
{
	color: #003366;
}

a:link, a:visited, a:active
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#container
{
	padding: 0;
	background: transparent url(../images/background.png) top left repeat-x;
	width: 48em;
	margin-right: auto;
	margin-left: auto;
}

#header
{
	height: 80px;
	background: transparent url(../images/banner-full.png) top left no-repeat;
}

#main
{
	padding: 0 12px 0 12px;
}

.columns
{
	width: 100%;
}

.columns td
{
	width: 50%;
	vertical-align: top;
}

#NewiFolderName, #NewiFolderDescription
{
	width: 80%;
}

#context
{
	background-color: #99CCFF;
	margin: 0;
	padding: 4px 8px 4px 8px;
}

#context .list
{
}

.actions
{
	font-size: 0.75em;
	padding: 0 4px 4px 20px;
}

.actions table
{
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
}

.actions td
{
	vertical-align: top;
}

.actions td.search
{
	text-align: right;
}

.searchPattern
{
	width: 12em;
	background: transparent url(../images/16/search-soft.png) 4px 2px no-repeat;
}

.buttons
{
	text-align: center;
}

div.search
{
	padding: 8px;
}

#controls
{
	float: right;
	color: #CCCCCC;
	padding: 8px;
	font-size: 0.8em;
	text-align: center;
}

#controls a
{
	color: #FFFFFF;
}

#controls .name
{
	padding-right: 12px;
}

div.message
{
	background-color: #FFFF00;
	border: 2px solid #0066CC;
	color: #003366;
	padding: 8px;
	margin: 8px 0 8px 0;
}

div.section
{
	margin: 16px 0 8px 0;
	padding: 0 0 8px 0;
	border: 2px solid #0066CC;
}

div.section div.content
{
	padding: 0 4px 0 4px;
}

div.section div.title
{
	background: transparent url(../images/section-bg.png) top left repeat-x;
	color: #FFFFFF;
	padding: 4px;
	margin-bottom: 8px;
}

.highlight
{
	color: #003366;
}

.hide
{
	display: none;
}

.indent
{
	padding: 0 8px 0 8px;
}

td.label
{
	color: #000000;
	text-align: right;
	padding-right: 8px;
}

.entries
{
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 0.9em;
}

.entries tr
{
}

.entries td
{
	border-bottom: 1px solid #BBBBBB;
	border-left: 0;
	border-right: 0;
	padding: 0;
	margin: 0;
	empty-cells: show;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.entries .cb
{
	width: 24px;
}

.entries .icon
{
	width: 20px;
	padding-right: 4px;
}

.entries .name
{
}

.entries .owner
{
	width: 10em;
}

.entries .rights
{
	width: 10em;
}

.entries .size
{
	width: 10em;
}

.entries .date
{
	width: 10em;
}

.entries .details
{
	width: 28px;
}

.entries .action
{
	width: 15em;
}

.entries .datetime
{
	width: 15em;
}

.entries img
{
	padding-top: 4px;
}

#share-users
{
	padding-right: 12px;
}

#share-members
{
	padding-left: 12px;
}

.pagging
{
	font-size: 0.75em;
	margin: 0;
	padding: 8px 12px 8px 12px;
	text-align: center;
}

.pagging .page
{
	padding: 0px 8px 0 8px;
}

.pagging input, .pagging img
{
	padding: 0px 4px 0 4px;
	vertical-align: middle;
}

#tooltip
{
	position: absolute;
	color: #333333;
	background-color: #99CCFF;
	width: 20em;
	padding: 8px;
	visibility: hidden;
	z-index: 500;
}

#login .dialog
{
	position: absolute;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	top: 48%;
	left: 48%;

	padding: 0;
	border-collapse: collapse;
	width: 28em;
	empty-cells: show;
	border: 1px solid #003366;
	background-color: #99CCFF;
	text-align: left;
	color: #003366;
}

#login td.field
{
	padding: 0px 8px 0px 8px;
}

#login td.title
{
	height: 80px;
	background: transparent url(../images/background.png) top left repeat-x;
	padding: 0px 0px 8px 0px;
}

#login div.title
{
	width: 100%;
	height: 100%;
	background: transparent url(../images/banner-full.png) top left no-repeat;
}

#login td.message
{
	padding: 8px 8px 12px 8px;
	color: #663300;
	text-align: center;
}

#login input.field
{
	width: 14em;
}

#login td.button
{
	text-align: right;
	padding: 8px 8px 8px 8px;
}

#login td.copyright
{
	color: #666666;
	font-size: 0.8em;
	padding: 4px 4px 4px 4px;
	border-top: 1px solid #003366;
	background-color: #CCCCCC;
}