body
{
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	color: #000066;
	margin: 1em;
	padding: 0;
	font-size: .9em;
}

p, tr, td, ol, ul
{
	font-size: .9em;
}

.container
{
	min-width: 61em;
	margin: .3em;
	background-color: #fff;
	border: 1px solid #666666;
	width: 61em;
}

.ifolderbuttons
{
	width: 4.5em;
}

#top
{
	background-color: #0054A6;
	background-image: url(images/banner-fill.png);
	background-repeat: repeat-x;
	height: 5.9em;
}

.content
{
	float: left;
}

.footer
{
	clear: both;
	margin: 0;
	padding: .5em;
	color: #333;
	background-color: #ddd;
	border-top: 1px solid gray;
}

#detailtop
{
	padding: .2em .9em .4em;
	margin-bottom: .2em;
	color: #000099;
	background-color: #99CCFF;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	clear: left;
}

#policynav
{
	float: left;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	max-width: 16em;
	width: 17em;
}

#policynav div
{
	margin-bottom: 1em;
}

div.policytitle
{
	display: inline;
	font-weight: bold;
	margin-top: 1em;
	font-size: .93em;
}

div.policydetails
{
	margin-left: 1em;
}

div.policylimit
{
	display: inline;
	font-weight: bold;
	margin-top: 1em;
	font-size: .8em;
}

div.policyunits
{
	display: inline;
	font-size: .9em;
}

table.PolicyTable
{
	border-collapse: collapse;
	margin-left: 1em;
}

table.PolicyTable th
{
	text-align: left;
	padding-right: 1em;
	font-size: .8em;
}

table.PolicyTable td
{
	text-align: right;
}

.edittext
{
	border-right: #f1efe2 thin solid;
	border-top: #f1efe2 thin inset;
	border-left: #f1efe2 thin inset;
	border-bottom: #f1efe2 thin solid;
}

img
{
	border: 0;
}

.filetypelist
{
	width: 100%;
}

.filetypelistheader
{
	clear: left;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-collapse: collapse;
	margin-top: .1em;
	width: 100%;
}

.filetypelistheader td
{
	font-weight: bold;
	font-size: 0.8em;
	color: black;
	background-color: #efeee9;
}

.filetypelistheader .checkboxcolumn
{
	width: 2em;
}

.filetypelistheader .filenamecolumn
{
	width: 12em;
}

.filetypelistitem
{
	height: 1.5em;
}

.filetypelistaltitem
{
	height: 1.5em;
	background-color: #efeee9;
}

.filetypeitem1
{
	padding-left: .1em;
	width: 1.8em;
}

.filetypeitem2
{
	width: 11em;
}

.newfiletypename
{
	margin-top: .2em;
	margin-bottom: .5em;
	float: left;
	border-right: #f1efe2 thin solid;
	border-top: #f1efe2 thin inset;
	border-left: #f1efe2 thin inset;
	border-bottom: #f1efe2 thin solid;
	width: 65%;
}

.filetypeitem3
{
}

.filetypecontrolbutton
{
	margin-top: .3em;
	width: 4.5em;
}

.filetypeaddbutton
{
	margin-top: .1em;
	float: right;
	width: 4.5em;
}

.Policy
{
	left: 1em;
	position: relative;
}

.policytextbox
{
	text-align: right;
	margin-left: 1.4em;
	border-right: #f1efe2 thin solid;
	border-top: #f1efe2 thin inset;
	border-left: #f1efe2 thin inset;
	border-bottom: #f1efe2 thin solid;
	font-size: .8em;
	width: 4.5em;
}

.PolicyType
{
	font-size: .85em;
	vertical-align: sub;
	text-align: center;
}

.searchlist
{
	width:auto;
	display: inline;
	color: black;
}

ul#navcontainer
{
	list-style-type: none;
	margin: 0;
	font-weight: bold;
	font-size: .75em;
	padding-top: 5.9em;
	padding-left: 25em;
}

ul#navcontainer li
{
	float: left;
	background-color:#EFEEE9;
	color: Black;
	margin: .2em .2em 0 .2em;
	width: 5.5em;
	text-align: center;
}

ul#navcontainer a
{
	display: block;
	color: #333333;
	background-color: Transparent;
	text-decoration: none;
	padding: .2em .2em 0 .2em;
	border-bottom: .1em solid #999999;
}

ul#navcontainer a:hover
{
	background-color: #696969;
	color: White;
	padding: .2em .2em 0 .2em;
}

body#users li.users a, body#ifolders li.ifolders a, body#server li.server a, body#system li.system a
{
	color: Black;
	background-color: #99CCFF;
	border-bottom: 1px solid #99CCFF;
	padding: .2em .2em 0 .2em;
}

#logo
{
	float: left;
}

#searchbuttons
{
	float: right;
}

.footertable
{
	width: 100%;
	border-collapse: collapse;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	font-size: 1.1em;
	background-color: #efeee9;
}

.footertable td
{
	padding-top: .4em;
	text-align: center;
}

.footertable td.leftfooter
{
	width: 25%;
}

.footertable td.centerfooter
{
	width: 50%;
}

.footertable td.rightfooter
{
	width: 25%;
}

