.nav
{
	padding-left: 1em;
	padding-bottom: 1em;
	float: left;
}

.accountsnav
{
	width: 35em;
}

.accounts
{
	margin-top: .5em;
	border-top: solid 1px black;
	width: 100%;
}

.accountsheader td
{ 
	color: black; 
	font-weight: bold; 
	font-size: 0.8em;  
	background-color: #efeee9;
	border-bottom: 1px solid black;	
	padding-bottom: .1em;
	padding-left: .4em;
}

.accountslistitem
{
	height: 1.5em;
}

.accountslistitem td
{
	padding-left: .4em;
}

.accountslistaltitem
{
	height: 1.5em;
	background-color: #efeee9;
}

.accountslistaltitem td
{
	padding-left: .4em;
}

.accountsitem1
{
	width: 4em;
}

.accountsitem1 img
{
	padding-left: .3em;
}

.accountsitem2
{
	width: 12em;
}

.accountsitem3
{
	width: 16em;
}

.accountsitem4
{
	width: 4em;
}

.searchnav
{
	clear: both;
	padding-bottom: .5em;
}
