/* ifolder.css */

body, p, td, th, div, blockquote, dl, ul, ol
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body
{
	font-size: 0.9em;
	color: #000066;
	background-color: #FFFFFF;
}

html, body, #container
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#dialog
{
	position: absolute;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	top: 48%;
	left: 48%;

	padding: 0;
	border-collapse: collapse;
	width: 28em;
	empty-cells: show;
	border: 1px solid #003366;
	background-color: #99CCFF;
	text-align: left;
}

.field
{
	padding: 0px 8px 0px 8px;
}

#titleCell
{
	height: 80px;
	background: transparent url(../images/background.png) top left repeat-x;
	padding: 0px 0px 8px 0px;
}

#title
{
	width: 100%;
	height: 100%;
	background: transparent url(../images/banner-full.png) top left no-repeat;
}

#messageCell
{
	padding: 8px 8px 8px 8px;
	color: #663300;
	text-align: center;
}

#Username, #Password
{
	width: 14em;
}

#buttonCell
{
	text-align: right;
	padding: 8px 8px 8px 8px;
}

#copyrightCell
{
	color: #666666;
	font-size: 0.8em;
	padding: 4px 4px 4px 4px;
	border-top: 1px solid #003366;
	background-color: #CCCCCC;
}




