<!-- File used to control updates of the Mac ifolder client application
     If the specified version is greater than the ifolder version on the
     client, the user will be prompted to upgrade their ifolder application
     with the one specified here by 'filename'. -->
<versioninfo>

    <!-- Put Version string here. Should be in the format of
         Major Version.Minor Version.Build Version.Revision
         Example: <version>1.0.1817.29628</version> -->
    <version>3.9.1.0</version>

    <!-- Put name of Mac ifolder client application file
         to be upgraded here. The specified file must be in
         the update/mac directory.
         Example: <filename>ifolder3-3.0.20051203-1-setup.exe</filename> -->
    <filename>ifolder3-mac.dmg</filename>
</versioninfo>
