<!--
	This file is used to control updates of the Linux iFolder Client.

	Each time a Linux iFolder Client authenticates to an iFolder Server, it
	checks for an updated client on the server.  The server uses this file
	to determine whether an upgrade exists for a given linux client.

	You may specify multiple "distribution" tags.  The "match" attribute
	is compared against the client's "/etc/issue" file.  A contains search
	is performed in order of the "distribution" tags listed in the file.
	The first match will be used.

	Mac OS X does not have a "/etc/issue" file.  This is still to be
	determined.  The Mac iFolder Client just needs to implement a mechanism
	for passing a distribution string.  Once that is complete, a new
	"distribution" tag can be specified in this file for Mac OS X.

	If no matches are found, the "DEFAULT" distribution will be used.
-->
<versioninfo>

	<!--
		Only change the DEFAULT distribution if you really know what
		you are doing.
	-->
	<distribution match="DEFAULT">
		<version>3.8.0.8</version>
		<download-directory>default</download-directory>
	</distribution>

	<!--

	The following is an example of how to specify upgrade files for SUSE
	LINUX 10.0 (i586).  All the necessary upgrade files would be placed
	inside of a directory named "suse-linux-10.0-i586" underneath the
	directory that this linux-version.config file is located.

	<distribution match="SUSE LINUX 10.0 (i586)">
		<version>3.6.1234.1</version>
		<download-directory>suse-linux-10.0</download-directory>
	</distribution>

	The following is an example of how to specify upgrade files for Novell
	Linux Desktop 9 (i586).

	<distribution match="Novell Linux Desktop 9 (i586)">
		<version>3.6.1234.1</version>
		<download-directory>nld-9-i586</download-directory>
	</distribution>

	-->

	<distribution match="SUSE Linux Enterprise Desktop 10">
		<version>3.8.0.8</version>
		<download-directory>suse-linux-10.0</download-directory>
	</distribution>

	<distribution match="SUSE Linux Enterprise Desktop 11">
                <version>3.8.0.8</version>
                <download-directory>suse-linux-11.0</download-directory>
        </distribution>

	<distribution match="openSUSE">
                <version>3.8.0.8</version>
                <download-directory>opensuse-linux</download-directory>
        </distribution>

</versioninfo>
