<!-- File used to control updates of the windows ifolder client application
     If the specified version is greater than the ifolder version on the
     client, the user will be prompted to upgrade their ifolder application
     with the one specified here by 'filename'. -->
<versioninfo>
	<distribution match="windows32">
                <version>3.8.4.1</version>
		<filename>ifolder3-windows.exe</filename>
        </distribution>
	<distribution match="windows64">
                <version>3.8.4.1</version>
                <filename>ifolder3-windows-x64.exe</filename>
        </distribution>
	<distribution match="DEFAULT">
                <version>3.8.4.1</version>
                <filename>ifolder3-windows.exe</filename>
        </distribution>
</versioninfo>
